#home {
    background-color: $negroFondo;
    height: 100vh;
    position: relative;

    .imagen-container {
        position: absolute;
        display: grid;
        place-items: center;
        height: 100%;
        margin-left: 50vw;

        .imagen {
            width: 13vw;
        }
    }

    .container-titulo-uno {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        height: 100%;

        .titulo-uno {
            z-index: 1;
            color: $colorFuente;
            writing-mode: vertical-rl;
            text-orientation: upright;
            letter-spacing: -2vw;
            -webkit-letter-spacing: -3vh;
            font-size: calc(8vw + 1.5rem);
            font-family: $fuentePrincipal;
            margin: 0;
        }
    }

    .navegacion {
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: flex-end;
        z-index: 1;
        padding: 3.5vh 3.5vw;

        a {
            color: $colorFuente;
            font-size: calc(.6vw + .55rem);
            position: relative;
            margin-left: 7.5vw;

            &::after { // efecto de las opciones del menu
                content: "";
                position: absolute;
                background-color: $colorFuente;
                height: .1vh;
                width: 0;
                left: 0;
                bottom: -.7vh;
                transition: 0.3s;
            }

            &:hover::after {
                width: 100%;
            }
        }
    }

    .texto-container {
        height: 100%;
        width: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;

        .texto {
            z-index: 1;
            margin-top: 22vh;
            margin-left: 35vw;
            color: rgba($color: white, $alpha: .25);
            font-style: italic;
            font-size: calc(.6vw + .2rem);
        }
    }
}